body {
    background-image:url("saudia_clock.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de;
}

button:hover {
    cursor: pointer;
}

#clock {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
